/*----------------------------------------------*\
    COMPONENTS
	==========

	@package paulawilson

\*----------------------------------------------*/


/* 
 *
 * / Variables
------------------------------------------------*/

/* Breakpoints */
$xx-small: 23rem;
$x-small: 27rem;
$small: 36rem;
$medium: 46rem;
$large: 56rem;
$x-large: 70rem;
$xx-large: 90rem;

/* Responsive Breakpoints */
$nav-desktop: 35rem;


/* Max Widths */
$wrapper-max-width: 1200px; /* keep px */

/* Site Border Widths */
$site-border-width-1: 8px; /* keep px */
$site-border-width-2: 12px; /* keep px */
