/*----------------------------------------------*\
    COMPONENTS
	==========

	@package paulawilson

\*----------------------------------------------*/


/* 
 *
 * / Variables
------------------------------------------------*/

/* Breakpoints */
$xx-small: 23rem;
$x-small: 27rem;
$small: 36rem;
$medium: 48rem;
$large: 64rem;
$x-large: 77rem;
$xx-large: 94rem;

/* Responsive Breakpoints */
$header-desktop: 35rem;
$footer-desktop: 45rem;


/* Max Widths */
$wrapper-max-width: 1200px; /* keep px */

/* Site Border Widths */
$site-border-width-1: 8px; /* keep px */
$site-border-width-2: 12px; /* keep px */
