/*----------------------------------------------*\
    VARIABLES
	=========

	@package paulawilson

\*----------------------------------------------*/

@use "./_components.scss"as *;

/*
 *
 * ANCHOR Responsive Text Sizes 
------------------------------------------------*/
:root {
	/* Minor Third (factor: 1.2)*/
	--size-010: .193rem;
	--size-020: .232rem;
	--size-030: .279rem;
	--size-040: .334rem;
	--size-050: .4rem;
	--size-060: .482rem;
	--size-070: .579rem;
	--size-080: .694rem;
	--size-090: .833rem;
	--size-100: 1rem;		/* <-- Default */
	--size-200: 1.2rem;
	--size-300: 1.44rem;
	--size-400: 1.728rem;
	--size-500: 2.074rem;
	--size-600: 2.488rem;
	--size-700: 2.986rem;	
	--size-800: 3.583rem;
	--size-900: 4.299rem;
	
	@media screen and (min-width: $x-small) {
		font-size: 1.05rem;
	}
	@media screen and (min-width: $small) {
		font-size: 1.1rem;
	}
	@media screen and (min-width: $medium) {
		font-size: 1.15rem;
	}
	@media screen and (min-width: $large) {
		font-size: 1.2rem;
	}
	@media screen and (min-width: $x-large) {
		font-size: 1.25rem;
	}	
	@media screen and (min-width: $xx-large) {
		font-size: 1.3rem;
	}
}


/*
 *
 * ANCHOR Fonts 
------------------------------------------------*/
:root {
	--font-home: "black-pack-vf", sans-serif;
	--font-serif: "calvino", Georgia, serif;
	--font-fancy: "fuuld", sans-serif;
	--font-family-mono: "IBM Plex Mono", monospace;
}


/*
 *
 * ANCHOR Colors 
------------------------------------------------*/
:root {
	// colors
	--color-slate: #4D4F60;
	--color-sand: #EFD9CA;
	--color-red: #DA3721;
	--color-pink: #EC81BA;
	--color-pink-dark: #DA6390;
	--color-white: #FFFFFF;
	
	// gradients
	--gradient-page-border: linear-gradient(to bottom, var(--color-pink) 0%, var(--color-slate) 100%);
}


/*
 *
 * ANCHOR Margins & Padding
------------------------------------------------*/
:root {
	--site-border-width: #{$site-border-width-1};
	--site-outer-margin: var(--size-100);

	@media screen and (min-width: $small) {
		--site-border-width: #{$site-border-width-2};
		--site-outer-margin: var(--size-200);
	}	
	@media screen and (min-width: $medium) {
		--site-outer-margin: var(--size-500);
	}
}


/*
 *
 * ANCHOR Nav
------------------------------------------------*/
:root {
	--nav-toggle-button-height: var(--size-500);
}


/*
 *
 * ANCHOR Max-Widths
------------------------------------------------*/
:root {
	--wrapper-max-width: #{$wrapper-max-width};
}
